<a routerLink="/"><input type="submit" class="btn btn-light" value="< Back"></a>

<h3>
    Add New Book
</h3>

<form id="formNewBook" name="formNewBook" #bookData="ngForm" (ngSubmit)="addBook(bookData.value)">
    <label>Name: </label>
    <input type="text" name="name" id="name" placeholder="Name" class="form-control" ngModel>
    <label>Author: </label>
    <input type="text" name="author" id="author" placeholder="Author" class="form-control" ngModel>
    <label>Publisher: </label>
    <input type="text" name="publisher" id="publisher" placeholder="Publisher" class="form-control" ngModel>
    <input type="submit" value="Add Book" class="btn btn-primary mbtn-submit">
</form>

<br>
<h3 *ngIf="isAdded">{{confirmationString}}</h3>

<a routerLink="/"><input type="submit" class="btn btn-light" value="< Back"></a>